<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Dynamic Website</title>
  </head>
  <body>
    
    {{> navbar data=details}}

    {{> slider sLides=slides}}

    <section class="banner1_section background1 py-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Start learning new technology here</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur id aut at voluptatibus autem, ex debitis illo laudantium impedit aliquam soluta necessitatibus veniam rerum dolorem dolores accusantium doloremque. Ad inventore, nostrum ullam quod ratione repellat assumenda molestias. Maiores cupiditate dolorum vel quis quam, sunt suscipit inventore nisi, molestiae libero corporis.</p>
          <button class="btn btn-outline-primary">Start learning</button>
        </div>
      </div>
    </section>


    <section id="services_section" class="py-4">
      <div class="container">
        <h1 class="text-center text-secondary">Services that we provide</h1>
        <div class="row">
          {{#each services}}
          <div class="col-md-4 py-4">
            <div class="card">
              <div class="card-body text-center">
                <div class="container">
                  <i class="{{this.icon}} text-secondary servise_icon"></i>
                </div>
                <h5 class="card-title">{{this.title}}</h5>
                <p>{{this.description}}</p>

                <a href="{{this.link}}">{{this.linkText}}</a>
                <a href="#@" class="ml-3">Support</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>

    <section class="banner2_section py-5">
      <dic class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <h3>We work for people, not for money</h3>
            <p text-center>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum assumenda cumque consequuntur laudantium, magni vel molestiae nisi nam distinctio quas officiis numquam quibusdam aliquam. Repellat!</p>
            <button class="btn btn-primary">Click here</button>
          </div>
          <div class="col-md-6 text-center pd-5">
            <img src="/static/images/graphics1.svg" style="max-height: 350px;" alt="">
          </div>
        </div>
      </dic>
    </section>


    <section class="banner3_section py-5">
      <dic class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="/static/images/graphics2.svg" style="max-height: 350px;" alt="">
          </div>
          <div class="col-md-6 text-center pd-5">
            <h3>We work for people, not for money</h3>
            <p text-center>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum assumenda cumque consequuntur laudantium, magni vel molestiae nisi nam distinctio quas officiis numquam quibusdam aliquam. Repellat!</p>
            <button class="btn btn-primary">Click here</button>
          </div>
        </div>
      </dic>
    </section>


    <section id="contact_us_section" class="py-5 background1">
      <div class="container">
        <h3 class="text-center text-muted">Contact us</h3>
        <div class="row">
          <div class="col-md-12">
            <form action="/process-contact-form" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Your contact number</label>
                <input name="phone" type="number" class="form-control" id="contactNumberField">
              </div>
              <div class="form-floating mt-2">
                <textarea name="query" style="height: 200px" class="form-control" placeholder="Enter your Query here" id="queryField"></textarea>
                <label for="queryField" style="color: black">Your query</label>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>